<html>
<head>
<style>
 body {
  background-color: coral;
 }
 </style>
 </head>

 <body>
<h1>Welcome to Food Paradise!</h1>

<p>
  <a href="/user_sign_in">Sign in</a>
</p>

<p>
  <a href="/user_sign_up">Sign up</a>
</p>

<img src="Demo-project1.jpeg" alt="Foods">

</body>
</html>
